<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>CRUD Application Using MongoDB</title>
    <style>
        head,body{
            height:100%;
        }
    </style>
</head>
<body class="bg-info">
    <div class="row h-100 align-items-center">
        <div style="margin-left:330px; background-color:white;margin-top:15px; padding:20px;" class="col-md-6 offset-md-3">
            <!--Populate the child view-->
            {{{body}}}
        </div>
    </div>
</body>
</html>